<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
  </head>
  <body>
    <!--------------------------------------------------HEADER----------------------------------------------------------->
    <%- include('./partials/header') %>
    <link rel="stylesheet" href="/CSS/stylesbicicletas.css" />
    <!---------------------------------------------------MAIN------------------------------------------------------------>
    <main id="bicicletas-img">
      <div class="container container-card">
        <div class="row row-cols-4 gap-card">
          <% bici.forEach(bicicleta => { %>
          <div class="card col">
            <img
              src="https://res.cloudinary.com/dkguig17n/image/upload/v1691785191/<%= bicicleta.imagen %>.jpg"
              class="card-img-top card-img"
              alt="bicicleta"
            />
            <div class="card-body">
              <h5 class="card-title"><%= bicicleta.nombre %></h5>
              <p class="card-text"><%= bicicleta.descripcion %></p>
            </div>
            <div class="card-button-box">
              <a href="../productos/detalle/<%= bicicleta.id %>" class="btn btn-primary card-button">Ver detalle</a>
              <% if(locals.isLogged){ %> 
              <a href="../productos/editar/<%= bicicleta.id %>" class="btn btn-primary card-button">Editar</a>
              <% } %> 
            </div>
          </div>
          <% }) %>
        </div>
      </div>
    </main>
    <!--------------------------------------------------FOOTER----------------------------------------------------------->
    <%- include('./partials/footer2') %>
  </body>
</html>
