<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head') %>
        <link rel="stylesheet" href="/CSS/styles-productos-forms.css" />
    </head>

    <body>
        <div class="vh-100 d-flex align-items-center products-form__container">
            <main class="container">
                <h1 class="text-center mb-4">Crear Producto</h1>
                <form action="/productos/crear" method="post" class="form" enctype="multipart/form-data">
                    <div class="row mt-4">
                        <div class="col-md">
                            <label class="form-label fw-semibold" for="title">Titulo</label>
                            <input
                                class="form-control"
                                type="text"
                                id="title"
                                name="title"
                            />
                        </div>
                        <div class="col-md">
                            <label for="vehiculo" class="form-label fw-semibold">Vehiculo</label>
                            <select name="vehiculo" id="vehiculo" class="form-control">
                                <% for(let i=0; i< categoria.length; i++) { %>
                                <option value="<%= categoria[i].id %>"><%= categoria[i].nombre %></option>
                                <% } %>
                            </select>
                        </div>
                        <div class="col-md">
                            <label class="form-label fw-semibold" for="rodado">Rodado</label>
                            <input
                                class="form-control"
                                type="text"
                                id="rodado"
                                name="rodado"
                            />
                        </div>
                        <div class="col-md">
                            <label class="form-label fw-semibold" for="price">Costo por hora</label>
                            <input
                                class="form-control"
                                type="number"
                                id="price"
                                name="price"
                            />
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-md">
                            <label for="color" class="form-label fw-semibold">Color</label>
                            <select name="color" id="color" class="form-control" >
                                <% for(let i=0; i< color.length; i++) { %>
                                    <option value="<%= color[i].id %>"><%= color[i].nombre %></option>
                                    <% } %>
                            </select>
                        </div>
                        
                        <div class="col-md">
                            <label class="form-label fw-semibold" for="imagen">Imagen</label>
                            <input
                                class="form-control"
                                type="file"
                                id="imagen"
                                name="imagen"
                            />
                        </div>
                        <div class="col-md">
                            <label for="usuario" class="form-label fw-semibold">usuario</label>
                            <select name="usuario" id="usuario" class="form-control" >
                                <% for(let i=0; i< usuario.length; i++) { %>
                                    <option value="<%= usuario[i].id %>"><%= usuario[i].nombre %></option>
                                    <% } %>
                            </select>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col">
                            <label class="form-label fw-semibold" for="desc">Descripcion</label>
                            <textarea
                                class="form-control"
                                id="desc"
                                name="desc"
                                rows="6"
                            ></textarea>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <button type='submit' class="btn send-btn mt-4 px-5 py-3">
                            <h5>Crear</h5>
                        </button>
                    </div>
                </form>
            </main>
        </div>
    </body>
</html>
