<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/styledetalle.css" />
  </head>
  <body>
    <%- include('./partials/header') %>
    <main>
      <div class="container-title-product">
        <h2 id="titulo-rodado"><%= product.nombre %></h2>
      </div>
      <div class="card">
        <div class="face front">
          <img
            id="imagen-producto"
            src="https://res.cloudinary.com/dkguig17n/image/upload/v1691785191/<%= product.imagen %>.jpg"
          />
        </div>
        <div class="face back">
          <h3><strong>Descripción</strong></h3>
          <p style="color: #7b807a">- <%= product.nombre %></p>
          <p style="color: #7b807a">- <%= product.categ %></p>
          <p style="color: #7b807a">- <%= product.descripcion %></p>
          <p style="color: #7b807a">- <%= product.rodado %></p>
          <p style="color: #7b807a">- <%= product.color.nombre %></p>
          <p class="aclaracion">
            *La imagen publicada es de referencia y sus características pueden
            llegar a variar de acuerdo con la flota disponible.
          </p>
        </div>
      </div>
      <div class="container-info_product">
        <div class="container-price">
          <h3><strong>Costo hora</strong></h3>
          <span id="precio-unitario">
            <i class="fa-solid fa-dollar-sign"></i><%= product.precio_hora
            %></span
          >
        </div>

        <div>
          <!-- cantidad de rodados -->
          <label for="cantidad-rodados">Cantidad</label>
          <input
            type="number"
            value="1"
            min="1"
            max="8"
            id="cantidad-rodados"
          />
          <!-- cantidad de horas-->
          <label for="cantidad-horas">Horas</label>
          <input type="number" value="1" min="1" max="12" id="cantidad-horas" />
          <!-- <input
            type="datetime-local"
            id=""
            placeholder="Comienzo reserva"
          />
          <input
            type="datetime-local"
            id=""
            placeholder="Fin reserva"
          /> -->
          <button id="btn-carrito" class="btn-add-to-cart">
            <i class="fa-solid fa-cart-plus"></i>
            Añadir al Carrito
          </button>
        </div>

        <!-- <div class="container-add-cart">
                <div class="container-quantity">
                    <h4>Horas</h4>
                    <div class="container-quantity-counter">
                        <input type="number" placeholder="1" value="1" min="1" class="input-quantity"/>
                        <div class="btn-increm-decrem">
                           <i class="fa-solid fa-chevron-up"></i>
                           <i class="fa-solid fa-chevron-down"></i>
                        </div>
                    </div>
                </div>
                <button id="btn-carrito" class="btn-add-to-cart">
                    <i class="fa-solid fa-cart-plus"></i>
                    Añadir al Carrito
                </button>
            </div> -->
        <div class="container-description">
          <div class="title-description">
            <h3><strong>Requisitos</strong></h3>
            <i class="fa-solid fa-chevron-down"></i>
          </div>
          <div class="text-description">
            <p>Documento de identificación:</p>
            <p>- Dejar DNI</p>
            <p>- Licencia de conducir</p>
            <p>- Cédula de extranjería o pasaporte</p>
            <span
              >Dejar una fianza o valor reembolsable de USD 20 por
              bicicleta.</span
            >
            <span>Aplican T&C</span>
          </div>
        </div>
        <div class="container-additional-info">
          <div class="title-additional-info">
            <h3><strong>Información General</strong></h3>
            <i class="fa-solid fa-chevron-down"></i>
          </div>
          <div class="text-additional-info">
            <p style="color: #909390">Horario de atención:</p>
            <p style="color: #909390">- Lunes a Sábados 8am a 8pm.</p>
            <span style="color: #909390">Alquiler únicamente con reserva.</span>
          </div>
        </div>
        <div class="container-include">
          <div class="title-include">
            <h3><strong>Incluye:</strong></h3>
            <i class="fa-solid fa-chevron-down"></i>
          </div>
          <div class="text-include">
            <p style="color: #909390">- Casco ajustable.</p>
            <p style="color: #909390">- Candado tipo guaya de clave.</p>
            <p style="color: #909390">- Kit de Reparaciones.</p>
          </div>
        </div>
      </div>
    </main>
    <section class="container-related-products">
      <h2><strong>Productos relacionados</strong></h2>
      <br />
      <div class="card-list-products">
        <div class="card2">
          <div class="card-img">
            <img
              src="https://rodando.alwaysdata.net/bici2.jpg"
              alt="producto-1"
              width="580"
            />
          </div>
          <div class="info-card">
            <div class="text-product">
              <h3>Alquiler MTB Suspensión Delantera</h3>
            </div>
            <div class="price">USD 5$</div>
          </div>
        </div>
        <div class="card2">
          <div class="card-img">
            <img
              src="https://rodando.alwaysdata.net/scooter-blanca.jpg"
              alt="producto-2"
              width="580"
            />
          </div>
          <div class="info-card">
            <div class="text-product">
              <h3>Alquiler Scooter</h3>
            </div>
            <div class="price">USD 3$</div>
          </div>
        </div>
        <div class="card2">
          <div class="card-img">
            <img
              src="https://rodando.alwaysdata.net/bici3.jpg"
              alt="producto-3"
              width="580"
            />
          </div>
          <div class="info-card">
            <div class="text-product">
              <h3>Alquiler Bicicleta de Ruta</h3>
            </div>
            <div class="price">USD 6$</div>
          </div>
        </div>
      </div>
      <br />
      <br />
    </section>

    <%- include('./partials/footer2') %>

    <script type="text/javascript" src="/js/detalle.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/pikaday/pikaday.js"></script>
    <script>
      var picker = new Pikaday({
        field: document.getElementById("datepicker"),
        firstDay: 1,
        minDate: new Date(),
        i18n: {
          previousMonth: "Mes anterior",
          nextMonth: "Mes siguiente",
          months: [
            "Enero",
            "Feberero",
            "Marzo",
            "Abril",
            "Mayo",
            "Junio",
            "Julio",
            "Agosto",
            "Septiembre",
            "Octubre",
            "Noviembre",
            "Diciembre",
          ],
          weekdays: [
            "Lunes",
            "Martes",
            "Miercoles",
            "Jueves",
            "Viernes",
            "Sabado",
            "Domingo",
          ],
          weekdaysShort: ["Dom", "Lun", "Mar", "Mie", "Jue", "Vie", "Sab"],
        },
      });
    </script>
  </body>
</html>
