<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head') %>
        <link rel="stylesheet" href="/CSS/styles-productos-forms.css" />
    </head>

    <body>
        <div class="vh-100 d-flex align-items-center products-form__container">
            <main class="container">
                <h1 class="text-center mb-4">Editar Producto</h1>
                <form action="/productos/editar/<%= prod.id %>?_method=PUT" method="POST" class="form">
                    <div class="row mt-4">
                        <div class="col-md">
                            <label class="form-label fw-semibold" for="title">Titulo</label>
                            <input
                                class="form-control"
                                type="text"
                                id="title"
                                name="title"
                                value="<%= prod.titulo %>"
                            />
                        </div>
                        <div class="col-md">
                            <label class="form-label fw-semibold" for="price">Costo por hora</label>
                            <input
                                class="form-control"
                                type="number"
                                id="price"
                                name="price"
                                value="<%= prod.precio %>"
                            />
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-md">
                            <label for="color" class="form-label fw-semibold">Color</label>
                            <select name="color"id="color"class="form-control">
                              <% if(prod.color == "Rojo") { %>  
                                <option value="Rojo" selected>Rojo</option>  
                                <option value="Azul">Azul</option>
                                <option value="Verde">Verde</option>
                                <option value="Negro">Negro</option>
                                <option value="Amarillo">Amarillo</option>
                                <option value="Blanco">Blanco</option>
                              <% } if (prod.color == "Azul")  { %>
                                <option value="Rojo">Rojo</option>  
                                <option value="Azul" selected>Azul</option>
                                <option value="Verde">Verde</option>
                                <option value="Negro">Negro</option>
                                <option value="Amarillo">Amarillo</option>
                                <option value="Blanco">Blanco</option>
                              <% } if (prod.color == "Verde")  { %>
                                <option value="Rojo">Rojo</option>  
                                <option value="Azul">Azul</option>
                                <option value="Verde" selected>Verde</option>
                                <option value="Negro">Negro</option>
                                <option value="Amarillo">Amarillo</option>
                                <option value="Blanco">Blanco</option>
                              <% } if (prod.color == "Negro")  { %>
                                <option value="Rojo">Rojo</option>  
                                <option value="Azul">Azul</option>
                                <option value="Verde">Verde</option>
                                <option value="Negro" selected>Negro</option>
                                <option value="Amarillo">Amarillo</option>
                                <option value="Blanco">Blanco</option>
                              <% } if (prod.color == "Amarillo")  { %>
                                <option value="Rojo">Rojo</option>  
                                <option value="Azul">Azul</option>
                                <option value="Verde">Verde</option>
                                <option value="Negro">Negro</option>
                                <option value="Amarillo" selected>Amarillo</option>
                                <option value="Blanco">Blanco</option>
                              <% } if (prod.color == "Blanco")  { %>
                                    <option value="Rojo">Rojo</option>  
                                    <option value="Azul">Azul</option>
                                    <option value="Verde">Verde</option>
                                    <option value="Negro">Negro</option>
                                    <option value="Amarillo">Amarillo</option>
                                    <option value="Blanco" selected>Blanco</option>
                                <% } %>
                            </select>
                        </div>
                        <div class="col-md">
                            <label class="form-label fw-semibold" for="img">Imagen</label>
                            <input
                                class="form-control"
                                type="file"
                                id="img"
                                name="img"
                            />
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col">
                            <label class="form-label fw-semibold" for="desc">Descripcion</label>
                            <textarea
                                class="form-control"
                                id="description"
                                name="description"
                                rows="6"
                            ><%= prod.descripcion %></textarea>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center gap-4">
                        <button  class="btn send-btn mt-4 px-5 py-3">
                            <h5>Actualizar</h5>
                        </button>
                    </form>
                        <form action="/productos/borrar/<%= prod.id %>?_method=DELETE" method="POST">
                        <button class="btn cancel-btn mt-4 px-5 py-3">
                            <h5>Eliminar</h5>
                        </button>
                        </form>
                    </div>
            </main>
        </div>
    </body>
</html>
