<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
  </head>
  <body>
    <!--------------------------------------------------HEADER----------------------------------------------------------->
    <%- include('./partials/header') %>
    <link rel="stylesheet" href="/CSS/stylesbicicletas.css" />
    <!---------------------------------------------------MAIN------------------------------------------------------------>
    <main id="bicicletas-img">
      <div class="container container-card">
        <div class="row row-cols-4 gap-card">
          <% mono.forEach(monopatin => { %>
          <div class="card col">
            <img
              src="https://res.cloudinary.com/dkguig17n/image/upload/v1691785191/<%= monopatin.imagen %>.jpg"
              class="card-img-top"
              alt="monopatin"
            />
            <div class="card-body">
              <h5 class="card-title"><%= monopatin.titulo %></h5>
              <p class="card-text"><%= monopatin.descripcion %></p>
              <a
                href="../productos/detalle/<%= monopatin.id %>"
                class="btn btn-primary"
                >Ver detalle</a
              >
              <a
                href="../productos/editar/<%= monopatin.id %>"
                class="btn btn-primary"
                >Editar</a
              >
            </div>
          </div>
          <% }) %>
        </div>
      </div>
    </main>
    <!--------------------------------------------------FOOTER----------------------------------------------------------->
    <%- include('./partials/footer2') %>
  </body>
</html>